.App {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.flex-div {
  display: flex;
  align-items: center;
}

.input-hidden {
  display: none;
}

.btn {
  background-color: #111b21 !important;
  color: #fff !important;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.btn:hover,
.btn:active {
  background-color: #111b21 !important;
  color: #fff !important;
}

.MuiButton-startIcon {
  margin: 0 !important;
}

.link {
  color: blue;
  cursor: pointer;
}

/* Table */
.table {
  background-color: #fff;
  border: none;
}

/* DataGrid row min-height */
.MuiDataGrid-row.MuiDataGrid-row--dynamicHeight {
  min-height: 50px !important;
}

/* Disable cell border on cell click */
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

/* Reduce padding on icon button container */
.MuiDataGrid-iconButtonContainer {
  padding-right: 8px !important;
}

.Mui-TableBodyCell-DetailPanel {
  background-color: #f9fafb !important;
}

.MuiTableCell-root {
  .MuiInputBase-root {
    font-size: 0.8rem !important;
  }
}

.Mui-TableHeadCell-Content-Wrapper,
.MuiTableCell-root {
  white-space: normal !important;
}

.MuiListItemText-secondary {
  text-align: right !important;
}

.form {
  h5 {
    margin-top: 20px;
  }
}

.p-icon-field,
.p-dropdown {
  width: 100% !important;
}
.p-input-icon {
  top: 30% !important;
  margin: 0 !important;
}

.p-password,
.p-calendar {
  width: 100% !important;
}
.p-inputtext,
.p-password-input {
  height: 45px !important;
  width: 100% !important;
  padding: 10px !important;
  margin: 5px 0 !important;
}

.p-error {
  color: #f15c6d !important;
}

a .MuiTypography-body2 {
  color: #0a5fae !important;
}

.dashboard-container {
  box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 10px;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.p-datepicker {
  border: none !important;
}

.card.flex {
  border: none !important;
}

.p-datepicker-month,
.p-datepicker-year {
  margin: 0 10px !important;
}

.p-datepicker-calendar-container {
  padding: 20px !important;
}

.card-header {
  background-color: #fff;
}

.MuiAlert-root {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 400px;
}

.key {
  border: 1px solid #0a5faf;
  color: #0a5faf;
  background-color: #f9fafb;
  margin: 0 3px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgb(10, 95, 175, 0.3);
}

.MuiSlider-root {
  width: 400px !important;
  height: 2px !important;
  margin-left: 30px !important;
  color: #0b61ae !important;
}

.MuiTableRow-root.inactive-job-opening {
  background-color: #ffc5c5 !important;
}

.MuiTableRow-root.inactive-job-opening:hover {
  background-color: #ffc5c5 !important;
}

.MuiFormControl-root {
  width: 100% !important;
}

ul {
  .Mui-disabled {
    display: none !important;
  }
}

//

.calendar-container {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  display: block !important;
}

.calendar-container header {
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
  display: flex;
}

header .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}

header .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  padding-left: 0 !important;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #000;
}

.calendar-body li.present,
.calendar-body li.leave,
.calendar-body li.half,
.calendar-body li.holiday {
  color: #fff;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.present::before {
  background: #34b33a;
}

.calendar-dates li.half::before {
  background: #ffb002;
}

.calendar-dates li.leave::before {
  background: #f15c6d;
}

.calendar-dates li.holiday::before {
  background-color: #000;
}
